header {
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 5px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0 10px;
    padding-left: 5px;
    font-weight: bold;
    border-bottom: 1px solid #e6e6e6;

    .header_left {
        margin-left: 5px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;

        a {
            display: flex;
            align-items: center;
            justify-content: center;

            .upper {
                display: flex;
                padding: 6.5px;
                align-items: center;
                font-size: 1.6rem;
                font-weight: bold;
                color: #ff5c35;
            }
        }
    }

    .header_right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 10px;
        gap: 20px;

        .login {
            padding: 5px 10px;
            border-radius: 3px;
            cursor: pointer;
            background-color: #ff5c35;
            color: white;

            &:hover {
                background-color: #ff5b32d3;
                color: white;
            }
        }
    }
}
